* {
  transition: 0.3s;
}

.game__window {
  display: flex;

  gap: 20px;
  background-color: aliceblue;
  padding: 10px;
  border: 1px solid #454549;
  height: 100%;
}

.game__window > div {
  background-color: #d7d7d7;
  border-radius: 20px;
  padding: 20px;
  max-width: 300px;
}

.game__window > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.btn__game {
  height: 30px;
  width: 150px;
  margin: 2px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.btn__game__img {
  background-color: aliceblue;
  border-radius: 100%;
  padding: 10px;
  border: 1px solid grey;
  transition: 0.3s;
  width: 200px;
}
.btn__game__img:active {
  opacity: 0.5;
}
.main {
  gap: 20px;
  height: 100%;
}
#console {
  padding: 20px;

  background-color: #454549;
  color: white;
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
}
#console > div {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
}

#line {
  min-width: 250px;
  max-width: 280px;
}

.game__header {
  display: flex;
}

@media all and (width>=320px) {
  .game__window {
    align-items: center;
    flex-direction: column;
  }
  .game__header {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .game__window > div {
    padding: 10px;
  }
}
@media all and (width>=580px) {
  .game__header {
    position: absolute;
    top: 30px;
    left: 20px;
  }
  .game__window {
    flex-direction: row;
  }
}
@media all and (width>=1100px) {
}
